 body{
    background-color:#222;
    }
 
 #rotate{
  position: absolute;
  vertical-align: top;
  margin-top: 24px;
  width: 416px;
  height: 150px;
  transform: rotate(4deg);
  right: -14px;
  top: -16px;
  border-radius: 50px 80px 20px 13px;
  color: blue;
  }

  #rotate1{
    position: absolute;
    vertical-align:top;
    margin-top:30px;
    width:420px;height:152px;
    transform:rotate(0deg);
    right: -14px;
    bottom: -5px;
    border-radius: 10px 10px 65px 20px;
    z-index: 1;
  }

  #rotate1 p {
      position: absolute;
      top: 12%;
      right: 20%;
      font-size: 40px;
      font-weight: 600;
  }
  
  span {
    color: white;
    position: relative;
    cursor:pointer;
    min-height:30px;
    position:relative;
    padding: 4px 8px;
    margin-left:20px;	
    color: blue;
    letter-spacing: 2px;
    background: linear-gradient(rgb(252, 252, 252),rgb(239, 240, 243));
  }
  
  
 