 body{
    background-color:#222;
    }
 
 #rotate{
    position: absolute; 
    vertical-align:top;
    margin-top:27px;
    width:410px;height:150px;
    transform:rotate(3deg);
    right:0;
    top: -16px;    
    border-radius: 8px 70px 20px 13px;
  }

  #rotate1{
    position: absolute;
    vertical-align:top;
    margin-top:30px;
    width:420px;height:152px;
    transform:rotate(0deg);
    right: -14px;
    bottom: -5px;
    border-radius: 8px 8px 80px 20px;
  }
  
  span {
    position: relative;
    cursor:pointer;
    min-height:30px;
    position:relative;
    padding: 4px 8px;
    margin-left:20px;	
    color: #fff;
      letter-spacing: 2px;
      background: linear-gradient(#333,#666);
  }
  
  
 